<!Doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Chang-Jin</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/floating-labels/">

    <!-- Bootstrap core CSS-->
    <link rel="stylesheet" href = "{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/floating-labels.css') }}">

    <script>
        function login() {                     // 로그인 버튼을 누르면 실행될 함수
            let ID = $('#inputEmail').val();
            let PASS = $('#inputPassword').val();
            // inputEmail과 inputPassword에 있는 값을 ID, PASS로 가져옵니다
            $.ajax({
                type: "POST",   // POST 방식으로 요청하겠다
                url: "/login",   // login이라는 url에 요청하겠다
                data: {ID: ID, PASSWORD: PASS }, // 데이터를 주는 방법
                success: function (response) {
                    if (response["result"] == "success") {   // 서버로부터 응답이 있다면
                        // 3. 성공 시 페이지 새로고침하기
                        let loginstate = response['loginstate'];
                        if (loginstate == 0) alert("아이디 또는 비밀번호를 확인해주세요.");
                        else {
                            alert("로그인성공!");
                        }
                        //window.location.href = '/memo_main.html';
                    } else {                                  // 서버로부터 응답이 없다면
                        alert("서버 오류!");
                    }
                }
            })
        }
    </script>

</head>

<body>


<form class="form-signin">
    <div class="text-center mb-4">
        <img class="mb-4" src="{{ url_for('static', filename='gif/Totem.gif') }}" alt=""
             width="140"
             height="120" style="border-radius: 15px">
        <h1 class="h3 mb-3 font-weight-normal">Welcome!</h1>

<!--        <p><div>아이디는 자신의 이메일입니다</div></p>-->
    </div>

        <div class="form-control">
            Name : Chang Jin Lee <pre></pre>
            Phone : 010-2900-4937<pre></pre>
    </div>

    <pre></pre>

<!--    <div class="form-label-group">-->
<!--        <input type="email" id="inputEmail" class="form-control" placeholder="아이디" required="" autofocus="">-->
<!--        <label for="inputEmail">이메일</label>-->
<!--    </div>-->

<!--    <div class="form-label-group">-->
<!--        <input type="password" id="inputPassword" class="form-control" placeholder="비밀번호" required="">-->
<!--        <label for="inputPassword">비밀번호</label>-->
<!--    </div>-->

    <a href="/memomain" class="btn btn-lg btn-primary btn-block" > Changmemo </a>

<!--    <div class="checkbox mb-3">-->
<!--        <label>-->
<!--            <input type="checkbox" value="remember-me"> 기억하기-->
<!--        </label>-->
<!--    </div>-->

<!--    <button class="btn btn-lg btn-primary btn-block" onclick="login()">로그인하기</button>-->
    <p class="mt-5 mb-3 text-muted text-center">© 2021 in Incheon</p>
</form>


<!--<div id="fatkun-drop-panel">-->
<!--    <a id="fatkun-drop-panel-close-btn">×</a>-->
<!--    <div id="fatkun-drop-panel-inner">-->
<!--        <div class="fatkun-content">-->
<!--            <svg class="fatkun-icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"-->
<!--                 p-id="5892">-->
<!--                <path d="M494.933333 782.933333c2.133333 2.133333 4.266667 4.266667 8.533334 6.4h8.533333c6.4 0 10.666667-2.133333 14.933333-6.4l2.133334-2.133333 275.2-275.2c8.533333-8.533333 8.533333-21.333333 0-29.866667-8.533333-8.533333-21.333333-8.533333-29.866667 0L533.333333 716.8V128c0-12.8-8.533333-21.333333-21.333333-21.333333s-21.333333 8.533333-21.333333 21.333333v588.8L249.6 475.733333c-8.533333-8.533333-21.333333-8.533333-29.866667 0-8.533333 8.533333-8.533333 21.333333 0 29.866667l275.2 277.333333zM853.333333 874.666667H172.8c-12.8 0-21.333333 8.533333-21.333333 21.333333s8.533333 21.333333 21.333333 21.333333H853.333333c12.8 0 21.333333-8.533333 21.333334-21.333333s-10.666667-21.333333-21.333334-21.333333z"-->
<!--                      p-id="5893"></path>-->
<!--            </svg>-->
<!--            <div class="fatkun-title">Drag and Drop</div>-->
<!--            <div class="fatkun-desc">The image will be downloaded</div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


</body>
</html>