<!Doctype html>
<html lang="ko">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">

        <!-- 구글폰트 -->
        <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">

        <link rel="stylesheet" href = "{{ url_for('static', filename='css/memostyle.css') }}">

        <title>메모장 ver6.2</title>

        <script>
            $(document).ready(function () {
                $("#cards-box").html("");
                shownotepad("rate");
            });

            function postnotepad() {
                // 1. 유저가 입력한 데이터를 id : post-title과  id : post-comment에서 가져오기
                let title = $('#post-title').val();
                let content = $('#post-content').val();

               // 2. memo에 POST 방식으로 메모 생성 요청하기
                $.ajax({
                    type: "POST",   // POST 방식으로 요청
                    url: "/memo",   // memo라는 url에 요청
                    data: { title_give : title, content_give : content}, // title_give라는 이름으로 title을 보냄, content도 마찬가지
                    success: function (response) {
                       if (response["result"] == "success") { // 서버로부터 응답이 있다면
                            alert("포스팅 성공!");
                            // 3. 성공 시 페이지 새로고침
                            window.location.reload();
                       }else {                      // 서버로부터 응답이 없다면
                           alert("서버 오류!");
                       }
                    }
                })
            }
            // 처음 웹페이지에 들어왔을때 실행하는 함수.
            function shownotepad(select) {    // mongoDB에서 tittle과 content에 해당하는 값을 가져와서 Card를 만들어 붙임.
                $.ajax({
                    type: "GET",       // GET 방식으로 요청.
                    url: "/memo",       // memo라는 url에 요청.
                    data: {},
                    success: function (response) {
                        let notepad = response["notepads"];
                        $("#cards-box").html("");
                        //console.log(notepad);
                        if(select == "rate") {
                            for (let i = notepad.length - 1; i >= 0; i--) {
                                //console.log(notepad[i]["_id"],notepad[i]["title"],notepad[i]["content"])
                                makeCard(notepad[i]["_id"], notepad[i]["title"], notepad[i]["content"], notepad[i]["time"])
                            }
                        }
                        else if (select == "time"){
                            for (let i=0; i<notepad.length; i++) {
                                //console.log(notepad[i]["_id"],notepad[i]["title"],notepad[i]["content"])
                                makeCard(notepad[i]["_id"], notepad[i]["title"], notepad[i]["content"], notepad[i]["time"])
                            }
                        }

                       // if (response["result"] == "success") {
                       //    alert(response["msg"]);
                    }
                })
            }

            function makeCard(index,title, content, time) {   // 매개변수로 받은 index, title, content를 사용해 Card를 이어 붙임
                title_index = index+1;
                content_index = index+2;
                let temp_html =  `<div id="${index}" class="card">
                        <div class="card-body">
                        <pre id="${title_index}" style="font-size : large; font-family: 'Poor Story', cursive;" class="card-title">${title}</pre>
                        <pre id="${content_index}" style="font-size : large; font-family: 'Poor Story', cursive;" class="card-text">${content}</pre>
                        <pre></pre>
                        <pre id="${time}" class="card-text">${time}</pre>
                        <button type="button" class="btn btn-secondary btn-sm" onclick="rewrite('${index}')">수정</button>
                        <button type="button" class="btn btn-dark btn-sm" onclick="deletememo('${index}')">삭제</button>
                        </div>
                    </div>`;
                $('#cards-box').append(temp_html);  // id : cards-box 에 $().append(); 를 사용해 html을 이어붙인다.
            }

             function deletememo(index){        // card에서 삭제 버튼을 누르면 실행되는 함수
                $.ajax({
                    type: "POST",   // POST 방식으로 요청하겠다
                    url: "/delmemo",   // delmemo라는 url에 요청하겠다
                    data: {index_give : index}, // index_give 라는 이름으로 index 변수를 서버로 보냄
                    success: function (response) {
                       if (response["result"] == "success") { // 서버로부터 응답이 있다면
                            alert("삭제 성공!");
                            // 3. 성공 시 페이지 새로고침하기
                            window.location.reload();
                       }else {                                  // 서버로부터 응답이 없다
                           alert("서버 오류!");
                       }
                    }
                })
            }

            function rewrite(index) { // 저장되어 있는 메모의 수정 버튼을 누르면 실행되는 함수
                let tclist;
                $.ajax({
                    type: "POST",   // POST 방식으로 요청하겠다
                    url: "/giveindex",   // memo라는 url에 요청하겠다
                    data: { index_receive : index}, // 데이터를 주는 방법
                    success: function (response) {
                       if (response["result"] == "success") {   // 서버로부터 응답이 있다면
                           tclist = response["notepads"];
                           console.log(tclist[0]);
                           let title_old = tclist[0]["title"];
                           let content_old = tclist[0]["content"];

                           let temp_html = `<div id="'${index}'" class="card">
                        <div class="card-body">
                       <div>
                    <div class="form-group">
                        <textarea type ="text" id="rewrite-title" class="form-control">${title_old}</textarea>
                    </div>
                    <div class="form-group">
                        <textarea type="text" id="rewrite-content" class="form-control">${content_old}</textarea>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="postwrite('${index}')">저장</button>
                </div>
                        </div>
                    </div>`;
                           $('#' + index).html(temp_html);
                       } else {                             // 서버로부터 응답이 없다면
                           alert("서버 오류!");
                       }
                    }
                })

            }

            function postwrite(index){                     // 수정상태의 메모에서 수정완료 버튼을 누르면 실행되는 함수
                let new_title = $('#rewrite-title').val();
                let new_content = $('#rewrite-content').val();
                    // 수정상태의 새로운 new_title, new_content를 id : rewrite-title, rewrite-content로 부터 받아옵니다.
                $.ajax({
                    type: "POST",   // POST 방식으로 요청하겠다
                    url: "/rewrite",   // rewrite라는 url에 요청하겠다
                    data: { idindex : index, title_new : new_title, content_new : new_content}, // 데이터를 주는 방법
                    success: function (response) {
                       if (response["result"] == "success") {   // 서버로부터 응답이 있다면
                            // 3. 성공 시 페이지 새로고침하기
                           alert("수정 성공!");
                            window.location.reload();
                            shownotepad();
                       }else {                                  // 서버로부터 응답이 없다면
                           alert("서버 오류!");
                       }
                    }
                })
            }

            function slectoption(){
                var langSelect = document.getElementById("inputSelect01"); // ()안에 select의 id를 입력

                // select element에서 선택된 option의 value가 저장된다.
                var selectValue = langSelect.options[langSelect.selectedIndex].value;
                shownotepad(selectValue);
            }

            function openclose() {          // 버전정보 보기 또는 닫기를 수행하는 함수. versioninfo의 display 상태를 이용함
                let status = $('#versioninfo').css('display');
                if (status == 'block') {
                    $('#versioninfo').hide()
                    $('#btn-posting-box').text('사용법/버전정보 보기')
                } else {
                    $('#versioninfo').show()
                    $('#btn-posting-box').text('사용법/버전정보 닫기')
                }
                // 여기에 jQuery를 이용해 코드를 짤 예정
            }
        </script>

    </head>

    <body>
        <div type="hidden" class="wrap">
            <div action="/post" method="post" class="jumbotron">
                <h1 style="float: left; margin-right: 10px;"> 메모장 </h1>
                <div class="p-3 mb-2 bg-secondary text-white" style="border: 1px; float: left; border-radius: 5px;">
                    ver6.2
                </div>
                 <a style="margin-left: 400px;" onclick="openclose()" id ="btn-posting-box" class="btn btn-light btn-sm" href="#" role="button">사용법/버전정보 보기
                </a>
                <div style="float: right; font-size: small" id = "versioninfo">
                    <div> <사용법> </div>
                    <div>메모쓰기 : 메모제목, 메모내용을 입력한다</div>
                    <div>메모수 : 수정 버튼을 누르고 메모제목, 메모내용을 입력한다.</div>
                    <div>삭제 : 삭제 버튼을 누른다.</div>
                    <div> <버전정보> </div>
                    <div> //ver 5.02 - 메모 정렬을 최신순과 시간순 선택 가능  </div>
                    <div> //ver 6.0 - 메모 저장 시간을 표시함. 년/월/일/시간 순서</div>
                    <div> //ver 6.1 - 이미지 추가와 서버 error 개선. 메모 자동줄바꿈 추가(2020/11/20) </div>
                    <div> //ver 6.101 - 최초 정렬 최신순으로 함. 메모장 이미지 변경함(2020/11/20) </div>
                    <div> //ver 6.2 - 메인 페이지 추가. </div>
                </div>
                <p class="lead">
                         <div id="post-box" class="form-post">
                <div>
                    <div class="form-group">
                        <textarea type ="text" id="post-title" class="form-control" placeholder="메모 제목을 입력하세요 "></textarea>
                    </div>
                    <div class="form-group">
                        <textarea type="text" id="post-content" class="form-control" placeholder="내용을 입력하세요"></textarea>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="postnotepad()">저장하기</button>
                </div>
            </div>
                </p>
            </div>
            <div class="input-group select" style="width: 200px;">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputSelect01">정렬순서</label>
                        </div>
                        <select class="custom-select" id="inputSelect01" onchange="slectoption()">
                            <option value="" selected disabled>선택하세요</option>
                            <option value="time">작성순</option>
                            <option value="rate">최신순</option>
                        </select>
                    </div>
            <div>*최초 정렬은 최신순입니다</div>
            <pre></pre>
            <div style="word-break: keep-all"  id="cards-box" class="card-columns">
            </div>
        </div>
    </body>

</html>